{% extends "base.html" %}

{% block body %}

  <div id="search" class="row">
    <div class="col-md-6">

      <h3>Search</h3>
      <form>
        <div class="form-group">
          <input type="text" class="form-control" id="inputName" placeholder="Name">
        </div>
      </form>

      <div id="search-results">
        <div id="person">


        </div>
      </div>
    </div>

    <div id="todays-register" class="col-md-4 col-md-offset-1">

      <h3>Today's Register</h3>

      <table class="table">
      <thead>
          <tr><th> Name </th><th> Level </th><th> Member </th></tr>
      </thead>
      <tbody>

        {% for entry in entries %}

          {% if entry.person.member == True %}
            <tr class="highlight"><td> {{ entry.person.name }} </td><td> {{ entry.level }} </td><td> {{ entry.person.member }} </td></tr>
          {% else %}
            <tr><td> {{ entry.person.name }} </td><td> {{ entry.level }} </td><td> {{ entry.person.member }} </td></tr>
          {% endif %}
        {% endfor %}

      </tbody>
      </table>

    </div>
  </div>

{% endblock %}

{% block js %}

  $(document).ready(function() {

    $.getJSON( '/events/today', function(data) {

      event_id = data["id"];
      console.log("Event ID is " + event_id);

    })
      .done(function() {
        //
      })
      .fail(function() {
        console.log("Error");
      })
      .error(function(jqXHR, textStatus, errorThrown) {
        console.log("Error " + textStatus);
        console.log("Incoming Text " + jqXHR.responseText);
      });

    $('#inputName').on('input', function() {

      var search_name = $('#inputName').val();
      var $person = $('#person');

      // Empty out the person div every time a character is typed
      $person.empty();

      // If the search_name is not empty do an ajax call to get the potential names
      if (search_name != '') {

        console.log("Get names that match search");

        //Do ajax call
        $.getJSON( "/people/search?name=" + search_name, function(data) {

              people = data["people"];

              var arrayLength = people.length;
              for (var i = 0; i < arrayLength; i++) {
                console.log(people[i].member)
                if (people[i].member == true) {
                    persondetails_class = "persondetails highlight"
                    persondetails_checked = "checked"
                } else {
                    persondetails_class = "persondetails"
                    persondetails_checked = ""
                }

                $person.append("<div id='persondetails' class='" + persondetails_class + "'><form class='form-inline' action='/events/" +
                  event_id + "/register'><div class='form-group'><input class='form-control addmargin' type='text' name='fullname' value='" + people[i].name + "' readonly></div>" +
                  "<select class='form-control addmargin' name='level'><option>Select Level...</option><option>Level 1</option><option>Level 2</option><option>Social Only</option></select>" +
                  "<div class='checkbox addmargin'><label><input class='member' type='checkbox' name='member' id='member' value='true' " + persondetails_checked + "> Member</label></div>" +
                  "<input class='btn btn-primary btn-sm add' type='submit' value='Add'></form></div>")
              }

              // Add person as if they are new
              $person.append("<div id='persondetails' class='persondetails'><form class='form-inline' action='/events/" +
                event_id + "/register'><div class='form-group'><input class='form-control addmargin' type='text' name='fullname' value='" + search_name + "' readonly></div>" +
                "<select class='form-control addmargin' name='level'><option>Select Level...</option><option>Level 1</option><option>Level 2</option><option>Social Only</option></select>" +
                "<div class='checkbox addmargin'><label><input class='member' type='checkbox' name='member' id='member' value='true'> Member</label></div>" +
                "<input class='btn btn-primary btn-sm add' type='submit' value='Add'></form></div>")

            })

      }

    }) //end of inputName of search

    $('#person').on('click', '.member', function(){

      if ($(this).is(':checked')) {
          $(this).closest('#persondetails').addClass("highlight");

      } else {
          $(this).closest('#persondetails').removeClass("highlight");
      }
    });

  });

{% endblock %}
